.Client {
    .Clients {
        position: relative;
        background: #edf7ff;
        border-radius: 20px;
        .rebon {
            position: absolute;
            z-index: 1000;
            top: -15px;
            right: -15px;
        }
    }
    .font-size {
        font-weight: 600;
        font-size: 16px;
        text-transform: unset;
        border-radius: 31px;
    }
    .btn2,
    .btn3,
    .btn1 {
        color: rgba(6, 50, 85, 0.3);
        border: 1px solid #a8bccc;
    }

    .text_primary {
        font-weight: 600;
        font-size: 48px;
        color: #0d1317;
    }
    .text_secondary {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        max-width: 90%;
    }
    .text_services {
        font-weight: 500;
        font-size: 16px;
        color: #f58a07;
    }
    .img {
        display: flex;
        justify-content: flex-end;
    }
    .img-fluid {
        margin-left: 8px;
    }
    .img-fluid2 {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
    .Client {
        .img {
            justify-content: center;
            margin-top: 50px;
        }
    }
}
@media (max-width: 900px) {
    .Client {
        .text_primary {
            font-size: 40px;
            max-width: 100%;
            text-align: center;
        }
        .text_secondary {
            max-width: 100%;
            text-align: center;
        }
    }
}
@media (max-width: 600px) {
    .Client {
        .text_primary {
            font-size: 35px;
        }
    }
}
