.Energy {
    .text_primary {
        font-weight: 600;
        font-size: 46px;
        color: #0d1317;
        max-width: 95%;
    }
    .text_secondary {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        max-width: 82%;
    }
    .text_inside1 {
        font-weight: 700;
        font-size: 36px;
        color: #f58a07;
    }
    .text_inside2 {
        font-weight: 600;
        font-size: 24px;
        color: #0d1317;
    }
    .text_inside3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        max-width: 90%;
        color: #5b5b5b;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 900px) {
    .Energy {
        .text_primary {
            font-size: 40px;
            max-width: 100%;
            text-align: center;
        }
        .text_secondary, .text_inside3 {
            max-width: 100%;
            text-align: center;
        }
        
    }
}
@media (max-width: 600px) {
    .Energy {
        .text_primary {
            font-size: 35px;
        }
        .card-action {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
