.Energy {
    .text_primary {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: #0d1317;
        max-width: 95%;
    }
    .text_secondary {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        max-width: 82%;
    }
    .text_inside1 {
        font-weight: 700;
        font-size: 36px;
        color: #f58a07;
    }
    .text_inside2 {
        font-weight: 600;
        font-size: 24px;
        color: #0d1317;
    }
    .text_inside3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        max-width: 90%;
        color: #5b5b5b;
    }
}
