.FinSweet {
    .text_primary {
        font-weight: 600;
        font-size: 48px;
        color: #0d1317;
    }
    .text_secondary {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
        max-width: 96%;
    }
    .ceo_name {
        font-weight: 500;
        font-size: 24px;
        color: #063255;
    }
    .ceo_at {
        font-weight: 500;
        font-size: 18px;
        color: #f58a07;
    }
    // .video_parent {
    //     display: flex;
    //     justify-content: center;
    // }

    // video {
    //     border-radius: 20px;
    //     display: flex;
    //     justify-content: center;
    // }
    .videoPlayer {
        position: relative;
        // border-radius: 20px;
    }

    .videoPlayer .position {
        position: absolute;
        z-index: 1;
        bottom: 40px;
        left: 30px;
        color: white;
    }
    .pauseicon,
    .playicon {
        width: 51px;
        height: 51px;
    }
    .video-text {
        font-weight: 600;
        font-size: 18px;
        color: #ffffff;
    }

    .video_parent {
        z-index: -1;
        // max-width: 560px;
        // min-height: 440px;
        // overflow: hidden;
        .video {
            width: 100%;
            position: relative;
            border-radius: 20px;
            margin-top: 50px;
            // min-height: 100%;
        }
    }
}

@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
    // .FinSweet {
    // .video {
    //     margin-top: 30px;
    //     width: 80vw;
    //     border-radius: 15px;
    // }
    // .videoPlayer .position {
    //     bottom: 60;
    //    }
    // }
}
@media (max-width: 900px) {
    .FinSweet {
        .text_primary {
            font-size: 40px;
            max-width: 100%;
            text-align: center;
        }
        .text_secondary {
            max-width: 100%;
            text-align: center;
        }
    }
}
@media (max-width: 600px) {
    .FinSweet {
        .text_primary {
            font-size: 35px;
        }
        .videoPlayer .position {
            bottom: 20px;
            left: 20px;
        }
        .pauseicon,
    .playicon {
        width: 30px;
        height: 30px;
    }
    }
}
