.hero-section {
    width: 100vw;
    height: auto;
    background: #dceaf5;
    .img1 {
        max-width: 100%;
        height: auto;
    }
    .text_primary {
        font-weight: 600;
        font-size: 48px;
        color: #1d3444;
    }
    .text_secondary {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #5b5b5b;
    }
    .text_tertiary {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        color: rgba(57, 65, 73, 0.5);
    }
    .services_font {
        font-weight: 600;
        font-size: 16px;
        color: #1d3444;
        background-color: #dceaf5;
        border-radius: 27px;
        text-transform: capitalize;
        box-shadow: none;
    }
    .services_font:hover{
        background-color: #dceaf5;

    }
    .services_btn {
        font-weight: 600;
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        background: #f58a07;
        border-radius: 27px;
        box-shadow: none;
    }
    .services_btn:hover {
        background-color: #f58a07;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}
body,
html {
    overflow-x: hidden;
}

@media (max-width: 1536px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 900px) {
    .hero-section {
        .text_primary {
            font-size: 45px;
        }
    }
}
@media (max-width: 600px) {
    .hero-section {
        .text_primary {
            font-size: 35px;
        }
    }
}
